<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="manifest" href="/static/manifest.json">
    <title>PWA Chapter02 Demo - App Skeleton</title>
    <% for (var jsFilePath of htmlWebpackPlugin.files.js) { %>
    <link rel="preload" href="<%= jsFilePath %>" as="script">
    <% } %>
    <% for (var cssFilePath of htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= cssFilePath %>" as="style">
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
