.login span {
  color: #fff;
  margin-right: 10px;
}
.login-card {
  height: 360px;
  margin: 16px;
  background-color: #fff;

}
.login-card form {
  padding: 16px;
}
.login-card input {
  width: 100%;
  height: 50px;
  border: none;
}
/* input:-internal-autofill-selected {
  background-color: #fff!important;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: green;
  transition: background-color 5000s ease-in-out 0s;
}

.login-desc {
  font-size: 15px;
}
.login-input {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 5px;
}
.login-input:before {
  content: '';
  width: 100%;
  left: 0;
  bottom: -1px;
  position: absolute;
  border-width: thin 0 0 0;
  border-style: solid;
  border-color: rgba(0,0,0,0.42);
}
.submit-button {
  background-color: #1976d2;
  color: #fff;
  height: 34px;
  border: none;
  font-size: 14px;
  padding: 0 30px;
  margin-top: 50px;
}
.login-third-party .submit-button {
  margin-top: 0;
}
.login-third-party {
  font-size: 15px;
}
.login-third-party p {
  font-size: 13px;
  color: #999;
  margin: 16px 0;
}
.login-third-party span {
  height: 50px;
  line-height: 50px;
}