/* common css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
}

.hide {
  display: none;
}

header {
  padding: 0 20px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: #1976d2;
  z-index: 99;
}

.header-inner-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
}

.header-left-logo {
  width: 100px;
  flex: none;
  text-align: left;
}

.header-mid-name {
  flex: 1;
  text-align: center;
}

.header-right {
  width: 100px;
  flex: none;
  text-align: right;
}

.sidebar {
  width: 70%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left .5s;
}

.sidebar-header {
  height: 150px;
  background: #1976d2;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 180px;
}

.sidebar-main.li {
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #eee;
}

a {
  margin-left: 20px;
}

i {
  margin-right: 20px;
}

span {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

.sidebar.hide {
  display: block;
  left: -70%;
}

.main {
  padding-top: 70px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}

.content {
  padding: 20px;
}

.skeleton {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  background: #ccc;
  height: 50px;
  color: #eee;
  line-height: 50px;
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 500;
  transition: opacity .5s
}


/* lds-ring, borrowed from https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #444;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #444 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content h2 {
  color: #1976d2;
  margin: 20px 0px;
}

.content button {
  background-color: #1976d2;
  color: #fff;
  border: none;
  margin: 5px 10px 5px 0px;
  padding: 5px;
  height: 30px;
}
.disabled {
  background-color: #757575;
}